//northslope.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@custom-widget:registry=https://northslope.palantirfoundry.com/artifacts/api/repositories/ri.widgetregistry..widget-set.91545aba-9df8-4d90-8e00-de3b95518038/contents/release/npm/
